# App
PORT=3000
CORS_ORIGIN=*

# Database
DB_HOST=jigyasa-postgres
DB_PORT=5432
DB_USER=jigyasa_app_user
DB_PASSWORD=strongpasswordforjigyasa123!
DB_NAME=jigyasa_new_db

# Postgres container (for initialization)
POSTGRES_USER=jigyasa_app_user
POSTGRES_PASSWORD=strongpasswordforjigyasa123!
POSTGRES_DB=jigyasa_new_db

# Auth
JWT_SECRET=secretjwtforjigyasa
JWT_EXPIRES_IN=24h